{% extends 'base.html.twig' %}

{% block title %}Добавление жанра{% endblock %}

{%  block body %}
<div class="col-md-12 pb-2">
    <h1>Добавление жанра</h1>
    {{ include('common/_form.html.twig') }}
    <a href="{{ path('app_janre') }}" class="btn btn-primary mt-2 mb-2">Вернуться к списку</a>
</div>
{%  endblock %}
